.header {
  display: flex;
  flex-direction: row;
}

.close {
  margin-left: auto;
}

.closeButton {
  margin-left: auto;
}

[data-theme='dark'] .btn-close .closeButton {
  color: white !important;
}

.title {
  color: #7e56c2;
}

.separator {
  margin-top: 0%;
  background-color: #7e56c2;
  height: 6px;
  width: 44%;
  opacity: unset;
}

.body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
}

.resultLabel {
  font-weight: normal;
  font-size: 1rem;
}

.resultContainer {
  box-shadow: 4px 4px 8px #d3d3d33b;
  border-radius: 4px;
}

[data-theme='dark'] .resultContainer {
  box-shadow: 4px 4px 8px #282a3696;
  border-radius: 4px;
  color: white !important;
}

.queryLabel {
  font-weight: normal;
  font-size: 1rem;
}

.queryContainer {
  box-shadow: 4px 4px 8px #d3d3d33b;
  border-radius: 4px;
}

[data-theme='dark'] .queryContainer {
  box-shadow: 4px 4px 8px #282a3696;
  border-radius: 4px;
}

.content {
  position: absolute;
  inset: 50% auto auto 50%;
  border: 1px solid rgb(126, 86, 194);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 10px;
  outline: none;
  padding: 20px;
  height: 80%;
  width: 70%;
  margin-right: 70%;
  transform: translate(-50%, -50%);
}

[data-theme='dark'] .content {
  background: #2f2f2f;
  color: white;
}

.overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(3px);
}

.submission {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.spinner {
  margin-right: 1%;
}

.run {
  height: 25px;
  display: inline-flex !important;
  align-items: center;
  font-size: 0.9rem !important;
  background-color: #7e56c2 !important;
  border-color: #7e56c2 !important;
}

.run:hover {
  background-color: #614394 !important;
  border-color: #614394 !important;
}

.cancel {
  height: 25px;
  display: inline-flex !important;
  align-items: center;
  font-size: 0.9rem !important;
  background-color: #7e56c2 !important;
  border-color: #7e56c2 !important;
}

.cancel:hover {
  background-color: #614394 !important;
  border-color: #614394 !important;
}

.languageDropdown {
  display: flex;
  z-index: 9999;
  font-size: 14px;
}

.resultHeader {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.rawButton {
  color: #0d6efd;
  border: none;
  background: none;
  font-size: 0.85rem;
  text-decoration: none;
  cursor: pointer;
  padding-right: 0;
  padding-left: 0;
}

.rawButton:hover {
  color: #0b4aa8;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.errorContainer {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  border: 1px solid #9f3c3c;
  border-radius: 4px;
  background-color: #9f3c3c;
  box-shadow: 4px 4px 8px #282a3696;
  animation: fadeIn 0.1s;
}

.errorMessage {
  margin: 5px 5px;
  font-weight: normal;
  font-size: 1rem;
  color: white;
}
