.header {
  padding-top: 1%;
  padding-right: 3%;
  padding-left: 3%;
  padding-bottom: 3%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #7e56c2;
}

.line {
  margin-top: 0%;
  background-color: #7e56c2;
  height: 6px;
  width: 10%;
  opacity: unset;
}
